html
    body
        head
            style
                include css/styles2.css
        footer.py-5.bg-dark

                p.m-0.text-center.text-white Copyright &copy; Your Website 2021
