doctype html
html(lang='en')
    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
        meta(name='generator' content='Jekyll v3.8.5')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

        style
            include css/FormLook.css

        include navbar.pug
    h2
        img(src='img/form1.png', width='1400', height='115')
    .row
        .col-75
            .container
                form(action='/action_page.php')
                    .row
                        .col-50
                            h1 Accident/ incident report: Form 1
                    .row
                        .col-50
                            label.agencyName Agency Name
                            input#agencyName.form-control(type='text' required)

                            label.Date Today's Date
                            input#Date.form-control(type='text' required)

                        .col-50
                            label.date2 Date of incident
                            input#date2.form-control(type='date' required)

                            label.time Time of incident
                            input#time.form-control(type='time' required)
                    .row
                        .col-50
                            label.reporterName Name of person completing report
                            input#reporterName(type='text' required)

                            label.reporterTitle Title of person completing report
                            input#reporterTitle.form-control(type='text' placeholder='EnterTitle Here' required)



                        .col-50
                            label.businessEmail Business Email
                            input#businessEmail.form-control(type='text' placeholder='Enter Email Here' value='' required)

                            label.businessNumber Business Phone Number
                            input#businessNumber.form-control(type='text' placeholder='Enter Phone Number Here' value='' required)

                    .row
                        .col-50
                            label.howOccured How Did the Incident Occur? Provide a brief, factual description; do not speculate on fault, etc.
                            input#howOccured(type='text' rows='6' cols='96')

                    .row
                        .col-50
                            label(for='incidentLocation') Name of Location (park, pool, community center) or nearest intersection
                            input#incidentLocation.form-control(type='text' placeholder='Enter Location Here' value='' required)
                        .col-50
                            label Is there an Address for this location?
                            .row
                                label(for='checkYes')
                                    |Yes
                                    input#checkYes(type='radio' name='adressLoc' value='Yes')


                                label(for='checkNo')
                                    |No
                                    input#checkNo(type='radio' name='adressLoc' value='No')


                                label(for='checkUnknown')
                                    |Unknown
                                    input#checkUnknown(type='radio' name='adressLoc' value='Unknown')
                    .row
                        label If Yes, Please provide the following(Address city, State, Zip)
                        .col-50


                            label(for='incidentAddress') Address
                            input#incidentAddress.form-control(type='text' placeholder='1234 Main St' required)
                            label(for='locationType') Location ( Specify the exact type of location/facility where injury occured )
                            input#locationType.form-control(type='text' placeholder='Enter Location Here' value='' required)

                            label(for='Zip') City, State, Zip
                            input#Zip.form-control(type='text' placeholder='City, State, Zip' required)
                        .col-50
                            label(for='city') City
                            input#city.form-control(type='text' placeholder='City, State, Zip' required)

                            label(for='State') State,
                            input#State.form-control(type='text' placeholder='City, State, Zip' required)

                            label(for='primaryLocation') Primary Location ( Specify the exact location Ex. pool, classroom etc.)
                            input#primaryLocation.form-control(type='text' placeholder='Enter Location Here' value='' required)

                    .row
                        .col-50
                            h3 Bodily Injury
                    .row
                        .col-50
                            label Was a person injured(ex. patron,citizen,participant,volunteer)?
                            .row
                                label(for='injuredYes')
                                    |Yes
                                    input#injuredYes(type='radio' name='INJ' value='Yes')

                                label(for='injuredNo')
                                    |No
                                    input#injuredNo(type='radio' name='INJ' value='No')

                                label(for='injuredUnknown')
                                    |Unknown
                                    input#injuredUnknown(type='radio' name='INJ' value='Unknown')
                    .row
                        .col-50
                            label If Yes, please provide the following information:

                    .row
                        .col-50

                            label(for='lastName') Last Name
                            input#lastName.form-control(type='text' placeholder='Enter Last Name Here' value='' required)

                            label(for='injuredAddress') Address
                            input#injuredAddress.form-control(type='text' placeholder='1234 Main St' required)
                            label(for='injuredState') State
                            input#injuredState.form-control(type='text' placeholder='State' required)

                            label(for='homePhone') Home Phone #
                            input#homePhone.form-control(type='text' placeholder='Enter Phone Number Here' value='' required)

                            label(for='cellPhone') Cell Phone #
                            input#cellPhone.form-control(type='text' placeholder='Enter Phone Number Here' value='' required)



                        .col-50
                            label(for='firstName') First Name
                            input#firstName.form-control(type='text' placeholder='Enter First Name Here' value='' required)

                            label(for='injuredCity') City
                            input#injuredCity.form-control(type='text' placeholder='City' required)

                            label(for='injuredZip') Zip
                            input#injuredZip.form-control(type='text' placeholder='Zip' required)

                            label(for='workPhone') Work Phone #
                            input#workPhone.form-control(type='text' placeholder='Enter Phone Number Here' value='' required)

                            label(for='injuredAge') Age
                            input#injuredAge.form-control(type='text' placeholder='' value='' required)


                    .row
                        .col-50
                            lable Sex
                                .row
                                    label(for='injuredMale')
                                        | Male
                                        input#injuredMale(type='radio' name='injuredSex' value='male')

                                    label(for='injuredFemale')
                                        | Female
                                        input#injuredFemale(type='radio' name='injuredSex' value='female')
                        .col-50
                            label Is injured person an agency volunteer?
                            .row
                                    label(for='volunteerYes')
                                        | Yes
                                        input#volunteerYes(type='radio' name='volunteer' value='Yes')
                                    label(for='volunteerNo')
                                        | No
                                        input#volunteerNo(type='radio' name='volunteer' value='No')
                                    label(for='volunteerUnknown')
                                        | Unknown
                                        input#volunteerUnknown(type='radio' name='volunteer' value='Unknown')


                    .row
                        .col-50
                            label(for='describeInjury') Describe the Injury ( Affected body part and type of injury )
                            input#describeInjury(type='text' required)

                    .row
                        .col-50
                            label Did injured Person make any statements?
                            .row
                                label(for='statementYes')
                                    |Yes
                                    input#statementYes(type='radio' name='statement' value='Yes')
                                label(for='statementNo')
                                    |No
                                    input#statementNo(type='radio' name='statement' value='No')

                                label(for='statementUnknown')
                                    |Unknown
                                    input#statementUnknown(type='radio' name='statement' value='Unknown')

                    .row
                        .col-50
                            label(for='injuredStatement') If yes, what did the injured person say?
                            input#injuredStatement(type='text' required)

                    .row
                        .col-50
                            label Was First Aid Administered?
                                label(for='firstAidYes')
                                    |Yes
                                    input#firstAidYes(type='checkbox' name='firstAid' value='Yes')

                                label(for='firstAidNo')
                                    |No
                                    input#firstAidNo(type='checkbox' name='firstAid' value='No')

                                label(for='firstAidUnknown')
                                    |Unknown
                                    input#firstAidUnknown(type='checkbox' name='firstAid' value='Unknown')



                    .row
                        .col-50
                            label(for='firstAidName') Name and Position of person who Administered First Aid
                            input#firstAidName.form-control(type='text' value='')


                            label(for='firstAidGiven') Was First Aid Given?
                            input#firstAidGiven.form-control(type='text' value='')

                    .row
                        .col-50
                            label Did First Aid involve AED and/or CPR?
                        .row
                            label(for='firstAidDetailsYes')
                                |Yes
                                input#firstAidDetailsYes(type='radio' name='firstAidDetails' value='Yes')
                            label(for='firstAidDetailsNo')
                                |No
                                input#firstAidDetailsNo(type='radio' name='firstAidDetails' value='No')
                            label(for='firstAidDetailsUnknown')
                                |Unknown
                                input#firstAidDetailsUnknown(type='radio' name='firstAidDetails' value='Unknown')
                            label If yes, please submit a PDRMA post-AED form.
                    .row
                        .col-50
                            label Were paramedic services offered?
                            .row
                                label(for='calledRefused')
                                    |Called and refused (at scene by patron)
                                    input#calledRefused(type='radio' name='paramedicServices' value='Yes')

                                label(for='offeredRefused')
                                    |Offered and refused
                                    input#offeredRefused(type='radio' name='paramedicServices' value='Yes')

                                label(for='unableRespond')
                                    |Unable to respond and called
                                    input#unableRespond(type='radio' name='paramedicServices' value='Yes')

                                label(for='offeredCalled')
                                    |Offered and called
                                    input#offeredCalled(type='radio' name='paramedicServices' value='Yes')

                                label(for='offeredRefusedCalled')
                                    |Offered, refused, called by agency anyways
                                    input#OfferedRefusedCalled(type='radio' name='paramedicServices' value='Yes')

                    .row
                        .col-50
                            label Were the police called?
                            .row
                                label(for='policeCalled')
                                    |Yes
                                    input#policeCalled(type='checkbox' name='firstAidDetails' value='Yes')


                    .row
                        .col-50
                            label If Yes, please provide the following information.
                            label(for='policeDeptName') Name of police department
                            input#policeDeptName.form-control(type='text' value='')

                        .col-50
                            label(for='policeName') Name of officer
                            input#policeName.form-control(type='text' value='')


                    .row
                        .col-50
                            label Do you expect this person to submit a claim?

                            .row
                                label(for='claimYes')
                                    |Yes
                                    input#claimYes(type='radio' name='claim' value='Yes')

                                label(for='claimNo')
                                    |No
                                    input#claimNo(type='checkbox' name='claim' value='No')

                                label(for='claimUnknown')
                                    |Unknown
                                    input#claimUnknown(type='checkbox' name='claim' value='Unknown')


                            h1 PROPERTY DAMAGE
                                | Was property damaged as a result of this accident/incident?
                    .row
                        .col-50
                                label(for='propertyDamageYes')
                                    |Yes
                                    input#propertyDamageYes(type='radio' name='propertyDamage' value='Yes')

                                label(for='propertyDamageNo')
                                    |No
                                    input#propertyDamageNo(type='radio' name='propertyDamage' value='No')

                                label(for='propertyDamageUnknown')
                                    |Unknown
                                    input#propertyDamageUnknown(type='radio' name='propertyDamage' value='Unknown')


                    .row
                        .col-50
                            label If yes, how was the person involved in the accident/incident?


                                label(for='propertyOwner')
                                    |Owner of property adjacent to park district
                                    input#propertyOwner(type='radio' name='propertyDamagePerson' value='propertyOwner')

                                label(for='vehicleOwner')
                                    |Vehicle Owner
                                    input#vehicleOwner(type='radio' name='propertyDamagePerson' value='vehicleOwner')

                                label(for='patron')
                                    |Patron
                                    input#patron(type='radio' name='propertyDamagePerson' value='patron')

                                label(for='other')
                                    |Other
                                    input#other(type='radio' name='propertyDamagePerson' value='other')
                    .row
                        .col-50
                            label(for='propertyLastName') Last Name ( or business name )
                            input#propertyLastName.form-control(type='text' placeholder='Enter Last Name Here' value='')

                            label(for='propertyFirstName') First Name ( not necessary if business name )
                            input#propertyFirstName.form-control(type='text' placeholder='Enter First Name Here' value='')

                            label(for='propertyPersonInfoZip') Zip
                            input#propertyPersonInfoZip.form-control(type='text')


                        .col-50
                            label(for='propertyPersonAddress') Address
                            input#propertyPersonAddress.form-control(type='text' placeholder='1234 Main St')

                            label(for='propertyPersonInfoCity') City
                            input#propertyPersonInfoCity.form-control(type='text')

                            label(for='propertyPersonInfoState') State
                            input#propertyPersonInfoState.form-control(type='text')

                            label(for='propertyPersonInfoPhone') Phone Number
                            input#propertyPersonInfoPhone.form-control(type='text')
                    .row
                        .col-50
                            label(for='describeDamage') Describe the Property Damage
                            input#describeDamage(type='text')

                    .row
                        .col-50
                            h1 WITNESS INFORMATION

                    .row
                        .col-50
                            label(for='witnessLastName') Last Name
                            input#witnessLastName.form-control(type='text' placeholder='Enter Last Name Here' value='')

                            label(for='propertyPersonInfoCity') City
                            input#witnessCity.form-control(type='text')

                            label(for='propertyPersonInfoState') State
                            input#witnessState.form-control(type='text')

                            label(for='propertyPersonInfoPhone') Phone Number
                            input#witnessPhone.form-control(type='text')
                        .col-50
                            label(for='witnessFirstName') First Name
                            input#witnessFirstName.form-control(type='text' placeholder='Enter First Name Here' value='')

                            label(for='witnessAddress') Address
                            input#witnessAddress.form-control(type='text' placeholder='1234 Main St')

                            label(for='witnessInfoZip') Zip
                            input#witnessInfoZip.form-control(type='text')
                    .row
                        .col-50
                            label Did the witness make any statements?
                            .row
                                label(for='witnessStatementYes')
                                    |Yes
                                    input#witnessStatementYes(type='radio' name='witnessStatement' value='Yes')

                                label(for='witnessStatementNo')
                                    |No
                                    input#witnessStatementNo(type='radio' name='witnessStatement' value='No')

                                label(for='witnessStatementUnknown')
                                    |Unknown
                                    input#witnessStatementUnknown(type='radio' name='witnessStatement' value='Unknown')


                    .row
                        .col-50
                            label(for='witnessStatement') If yes, what did the witness say?
                            input#witnessStatement(type='text')

                            h5 Please ensure every field is filled out!

                    input.btn(type='submit', value='Submit Form')


    include footer.pug
