doctype html
html(lang='en')
    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
        meta(name='generator' content='Jekyll v3.8.5')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

        style
            include css/FormLook.css

    include navbar.pug
    h2
        img(src='img/form3.png', width='1400', height='115')

    .row
        .col-75
            .container
                form(action='/insertForm3', method='post')
                    .row
                        .col-50
                            h1 Property Loss Report: Form3
                    .row
                        .col-50
                            label(for='agencyName') Agency Name
                            input#agencyName.form-control(type='text' placeholder='Enter Name Here' value='' name='agencyName' required)

                            label(for='todaysDate') Today's Date
                            input#todaysDate(type='date' name='Today' min='2021-01-01' max='2031-12-31')
                            br
                            label(for='reporterName') Name of Person Completing Report
                            input#reporterName.form-control(type='text' placeholder='Enter Name Here' value='' name='Person' required)

                            label(for='businessNumber') Business Phone Number
                            input#businessNumber.form-control(type='text' placeholder='Enter Phone Number Here' value='' name='BisPhone' required)


                        .col-50
                            label(for='dateOfIncident') Date of Incident
                            input#dateOfIncident(type='date' name='dateOfIncident' min='2021-01-01' max='2031-12-31')
                            br
                            label(for='timeOfIncident') Time of Incident
                            input#timeOfIncident.form-control(type='time' placeholder='Enter Time: hh/mm a.m./p.m.' name='TimeIncident' value='' required)

                            label(for='reporterTitle') Title of Person Completing Report
                            input#reporterTitle.form-control(type='text' placeholder='Enter Title Here' name='Title' value='' required)

                            label(for='businessEmail') Business Email
                            input#businessEmail.form-control(type='text' placeholder='Enter Email Here' name='BisEmail' value='' required)

                    .row
                        .col-50
                            label(for='howOccured') How Did the Incident Occur and What Property Was Damaged? Provide a brief, factual description.
                            Input#howOccured(type='text' name='occured')

                    .row
                        .col-50
                            label(for='incidentLocation') Name of Location (park, pool, community center) or nearest intersection
                            input#incidentLocation.form-control(type='text' name='location' placeholder='Enter Location Here' value='' required)
                    .row
                        .col-50
                            label Is there an Address for this location?
                            label If Yes, please provide the following (Address and City, State, Zip):
                            label(for='incidentAddress') Address
                            input#incidentAddress.form-control(type='text' placeholder='1234 Main St' name='adress' required)

                            label(for='State') State
                            input#State.form-control(type='text' name='state' placeholder='City, State, Zip' required)

                            label(for='primaryLocation') Primary Location ( Specify the exact location Ex. pool, classroom etc.)
                            input#primaryLocation.form-control(type='text' name='primaryLocation' placeholder='Enter Location Here' value='' required)

                            label(for='contactPerson') Contact Person at Facility
                            input#contactPerson.form-control(type='text' value='' name='contactPerson')

                            label(for='lossEstimate') Estimate of Loss
                            input#lossEstimate.form-control(type='text' value='' name='loss')

                            label(for='contactPersonEmail') Contact Person's Email
                            input#contactPersonEmail.form-control(type='text' value='' name='ContactEmail')

                        .col-50
                            label(for='city') City
                            input#city.form-control(type='text' placeholder='City, State, Zip' name='city' required)
                            label(for='Zip') Zip
                            input#Zip.form-control(type='text' placeholder='City, State, Zip' name='zip' required)

                            label(for='locationType') Location ( Specify the exact type of location/facility where injury occured )
                            input#locationType.form-control(type='text' name='locationType' placeholder='Enter Location Here' value='' required)



                            label(for='personIdentified') Has the party responsible for damage been identified? If yes, provide the following contact information for the person or persons identified:
                            input#personIdentified.form-control(type='text' placeholder='Name, Street Address' name='FaultIdentity' value='')

                            label(for='contactPersonPhone') Contact Person's Phone Number
                            input#contactPersonPhone.form-control(type='text' name='ContactPhone' value='')
                    .row
                        .col-50
                            label Was damage caused by third-party (non-agency) individual?
                            .row
                                label(for='checkYes')
                                    |Yes
                                    input#checkYes(type='radio' name='damage' value='Yes')
                                label(for='checkNo')
                                    |No
                                    input#checkNo(type='radio' name='damage' value='No')
                                label(for='checkUnknown')
                                    |Unknown
                                    input#checkUnknown(type='radio' name='damage' value='Unknown')


                    .row
                        .col-50
                            label(for='cityIdentidied') City
                            input#cityIdentidied.form-control(type='text' placeholder='City' name='cityIdentidied' required)

                            label(for='StatePersonIdentidied') State
                            input#StatePersonIdentidied.form-control(type='text' placeholder='State' name='StatePersonIdentidied' required)
                        .col-50
                            label(for='ZipPersonIdentidied') Zip
                            input#ZipPersonIdentidied.form-control(type='text' name='ZipPersonIdentidied' placeholder='Zip' required)
                    .row
                        .col-50
                            label Has a police agency conducted an investigation?
                            .row
                                label(for='policeCheckYes')
                                    |Yes
                                    input#policeCheckYes(type='radio' name='police' value='Yes')
                                label(for='policeCheckNo')
                                    |No
                                    input#policeCheckNo(type='radio' name='Police' value='No')
                                label(for='policeCheckUnknown')
                                    |Unknown
                                    input#policeCheckUnknown(type='radio' name='Police' value='Unknown')

                    .row
                        .col-50
                            label(for='policeAgency') What policy agency investigated the incident? What is the police report number?
                            input#policeAgency.form-control(type='text' value='' name='policeAgency')
                        .col-50
                            label(for='theCharges') Were criminal charges brought against the responsible party? If yes, what were the charges?
                            input#theCharges.form-control(type='text' name='theCharges' value='')
                        h5 Please ensure every field is filled out!
                    input.btn(type='submit', value='Submit Form')


    include footer.pug
