doctype html
head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
        meta(name='generator' content='Jekyll v3.8.5')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        title Form 4e



        style
            include css/FormLook.css






body
    include navbar.pug
    .row
        .col-75
            .container
                form(action='/action_page.php')
                    .row
                        .col-50
                            h3 Form 04e Employee injury form

                            label.FirstName Employee First Name
                            input#FirstName.form-control(input='text' requirec)

                            label.time Time of incident
                            input#time.form-control(type='text' required)
                        .col-50
                            h3
                            br
                            label.LastName Last Name
                            input#LastName.form-control(type='text' required)

                            label.Date Date of incident(mm/dd/yyyy)
                            input#Date.form-control(type="text" required)
                    .row
                        .col-50
                            label.location Specific location of the incident (second floor hallway of recreation center, storage closet of maintenance shed etc...)
                            input#location.form-control(type='text' required)
                        .col-50
                            label Are you reporting the injury for the first time
                            .row
                                label.checkY
                                    |Yes:
                                    input#checkY(type='radio' name='report')
                                    span.checkmark
                                label.checkN
                                    |No:
                                    input#checkN(type='radio' name='report')
                                    span.checkmark
                    .row
                        .col-50
                            label If no, when did you first report the injury (verbally or in writing) and to whom did you report it?
                            label.repdate
                            input#repdate.form-control(type="date" required)
                            label.repTo Reported to:
                            input#repTo.form-control(type='text' required)
                        .col-50
                            label.repTime Time:
                            input#repTime.form-control(type='time' required)
                    .row
                        .col-50
                            label.describe Describe how the injury occurred (Identify the job task you were doing and include a step-by-step explanation of what led to the injury.)
                            input#desccribe.form-control(type='text' required)
                    .row
                        .col-50
                            label.Witness Name all people present at the time of injury(e.g , coworkers and/or witnesses)
                            input#Witness.form-control(type='text')
                            label Did you seek medical attention on the date of the accident
                            .row
                                label.checkY2
                                    |   Yes
                                    input#checkY2(type='radio' name='medAtten')
                                    span.checkmark
                                label.checkN2
                                    | No
                                    input#checkN2(type='radio' name='medAtten')
                                    span.checkmark
                        .col-50
                            label.bodyInj Identify all body parts you injured. (Be specific. indicate left or right, upper or lower.)
                            input#bodyInj.form-control(type='text' required)
                            label Have you injured this body part previously
                            .row
                                label.checkY3
                                    |Yes
                                    input#checkY3(type='radio' name='PrevInj')
                                    span.checkmark
                                label.chekN3
                                    |No
                                    input#checkN3(type='radio' name='prevInj')
                                    span.checkmark
                    .row
                        .col-50
                            label.prevInj If yes, please describe which body part and what the prior injury was?
                            input#prevInj.form-control(type='text' required)

                            label.prevDate When did you receive prior injury
                            input#prevDate.form-control(type='date' required)
                        .col-50
                            label.prevTreatment If yes, where did you receive treatment
                            input#prevTreatment.form-control(type='text' required)
                    .row
                        .col-50
                            label.sig The above information is true and accurate(please type Name)
                            input#sig.form-control(type='text' required)
                        .col-50
                            label.TodaysDate Todays Date
                            input#TodaysDate.form-control(type='date' required)


























        input.btn(type='submit', value='Submit Form')

    include footer.pug


